body{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.header{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header input {
    border: 0px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px 10px;
    height: 30px;
   
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#clock{
    font-size: 100px;
    color: white;
}
#greeting {
    margin-top: -90px;
    color: white;
}

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-form span {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#todo-form input {
    margin-top: 50px;
    border: 0px;
    background: none;
    width: 250px;
    font-size: 20px;
    border-bottom: 1px white;
}

#todo-form input:focus-within {
    text-align: center;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: white;
}

#todo-form input::placeholder {
    color: white;

}

#todo-list li {
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#todo-list span {
    margin: 0px 100px;
}

#todo-list button {
    color: red;
    border: 0px;
    cursor: pointer;
    background: none;
}


#verses{
    color: white;
    
}

#verses span {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 15px;
    font-weight: bold;
}

img {
    position: absolute;
    
}

#weather{
    margin-top: 100px;
    z-index: 1;
    color: white;
}


